body {
  margin: 0;
  font-family: "Segoe UI";
  background: #0f172a;
  color: white;
}

.app {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar div {
  padding: 10px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar div:hover {
  background: #1e293b;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* PAGES */
.page {
  display: none;
}

.page.active {
  display: block;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* FEED */
.feed {
  margin-top: 20px;
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
}

.feed-item {
  border-bottom: 1px solid #334155;
  padding: 8px 0;
}